footer {
  background: #100806;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

footer .container {
  padding: 68px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .authors {
  font-size: 13px;
}

footer .authors a {
  text-decoration: none;
  color: #fff;
}

footer .authors a:hover {
  text-decoration: underline;
}