/* Fonts */
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

/* Navbar */
.navbar {
    font-family: 'ABeeZee', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(122,122,122,.93);
    letter-spacing: 2px;
    font-weight: 400;
}

.nav-item:hover .nav-link {
    color: #01107e !important;
}

.navbar .order-2 {
    justify-content: flex-end;
}

.nav-content {
    flex-basis: 0 !important;
}

.navbar .order-1 {
    margin: 0 25px;
}

/* Carousel */
.carousel-item {
    width: 100%;
	height: calc(100vh - 116px);
}

.carousel-item img {
    object-fit: cover;
}

@media screen and (max-width: 991px) { /* SUR MOBILE */
    .nav-content {
    }
    .navbar .container {
        flex-direction: column;
        justify-content: center;
    }
    .navbar-toggler {
        display: block !important;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .navbar-nav,
    .collapse {
        flex-direction: column !important;
        width: 100%;
        text-align: center;
    }

    .order-3 {
        margin-left: 0 !important;
    }

    .logo,
    .navbar-toggler {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .navbar-toggler {
        max-width: 100px;
    }


}