.main-conseils {
  background: #F1F5F8;
}

.advice-row {
  text-align: center;
  margin: 64px 0 0 0;
}

.advice {
  margin-bottom: 16px;
}

.advice-row img {
  padding-bottom: 16px;
}

.advice-text {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 16px;
}

.advice-text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 2px;
}

.advice-text p {
  margin: 0 0 8px 0;
}