/* CONTACT */
.contact-first-block {
    padding-top: 50px;
}

.infos {
    background: #fff;
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    height: 100%;
    text-align: center;
}

.img-wrapper-CK {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contact {
    background: #F1F5F8;
}

#form {
    padding-top: 50px;
    padding-bottom: 50px;
}

.divider {
    width: 100px;
    height: 2px;
    background: #373a48;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 10px;
}

.heading h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #373a48;
    margin-top: 15px;
    margin-bottom: 15px;
}

#contact-form {
    font-size: 20px;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.blue {
    color: #0069d6;
    font-weight: bold;
}

label {
    font-weight: bold;
}

contact-form .form-control {
    height: 50px;
    font-size: 18px;
}

.comments {
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px; /* Pour garder sa taille même lorsqu'il est vide */
}

#contact-form input[type=submit] {
    margin: 40px auto 0;
    display: block;
}

.button1 {
    border: 1px solid #dddddd;
    background: #373a48;
    color: white;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}

.button1:hover {
    background: #333333;
    border-color: black;
}

.thank-you {
    text-align: center;
    margin: 15px 0 0 0;
    font-weight: bold;
    font-size: 22px;
}