.icon-bar {
	width: 22px; 
	height: 3px;
  background-color: #01107e;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none !important;
  background: transparent !important;
  outline: none !important;
}

 /* Croix */
 .navbar-toggler .top-bar {
   transform: rotate(45deg);
   transform-origin: 5% 34%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 5% 95%;
}

 /* Fermé */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
