.btn-custom {
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4DC0B5;
  letter-spacing: 2px;

  border: 2px solid #4DC0B5;
  background: #fff;
  border-radius: 0;
  padding: 13px 26px;
  transition: all .5s;
}

.btn-custom:hover {
  background: #4DC0B5;
  color: #000;
}